@font-face {
    font-family: "Oswald";
    src: url("Oswald.ttf");
}

body {
    display: flex;
    flex-flow: column;
    padding: 25px 0;
    border: 1px solid black;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
    align-items: center;
    margin: 0;
}

section {
    width: 85%;
}

h1 {
    font-size: 32px;
}

#title {
    display: grid;
    justify-content: center;
    background-color: #61787f;
    height: 122px;
}

#title img {
    height: 120px;
    margin: auto;
}

#title span {
    display: none;
}

#bestMovie img {
    width: 90%;
    margin: auto;
}

#bestMovie > div {
    border: 6px solid black;
    display: grid;
    align-items: center;
    padding: 14px 0;
    grid-column-gap: 10px;
    position: relative;
}

.resume {
    width: 90%;
    margin: auto;
    display: grid;
}

.resume h2 {
    font-size: 32px;
    margin: 0;
}

.resume p {
    font-size: 16px;
}

.resume button {
    background-color: #FA0B0B;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    width: 91px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    justify-self: center;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.picturesMovie {
    display: grid;
    grid-gap: 25px;
    width: 100%;
}

.picturesMovie > div {
    position: relative;
    height: 247px;
}

.picturesMovie > div:nth-child(n + 3) {
    display: none;
}

.picturesMovie > div > img {
    height: 0;
    min-height: 100%;
    object-fit: cover;
    width: 100%;
}

.movieBanner {
    display: none;
    position: absolute;
    top: 12%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 102px;
}

.movieBanner h2 {
    color: white;
    padding-left: 10px;
    font-size: 24px;
    font-weight: normal;
}

.movieBanner button {
    border: none;
    background-color: #2D2C2C;
    color: white;
    border-radius: 25px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 81px;
    height: 25px;
    font-size: 14px;
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    top: 2%;
    bottom: 2%;
    grid-template-columns: 1fr;
    background-color: white;
    grid-row-gap: 10px;
    border: 6px solid black;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 10px;
}

#modal h2 {
    font-size: 48px;
    margin: 0;
    width: 84%;
}

#modal > img {
    width: 100%;
    height: fit-content;
    grid-row-start: 3;
}

.information {
    height: fit-content;
}

.information div {
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 24px;
}

.no-bold {
    font-weight: normal;
}

.modal-resume {
    font-size: 24px;
}

.modal-actors {
    width: 100%;
    font-size: 20px;
    margin-bottom: 0;
}

#modal button {
    display:none;
    cursor: pointer;
}

#modal .cross {
    display: block;
    position: absolute;
    right: 16px; 
    top: 16px;
    border:none;
    background-color: white;
    font-size: 32px;
    padding: 0;
    height: 32px;
}

.categoryChoice {
    padding: 20px 0;
    width: inherit;
}

.categoryChoice h1 {
    display: none;
}

.dropbtn {
    font-size: 36px;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 16px;
    padding-right: 164px;
    cursor: pointer;
    border: 1px black solid;
    width: 100%;
    font-family: unset;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    overflow: auto;
    scrollbar-width: none;
    z-index: 1;
    max-height: 205px;
    width: 100%;
}

.dropdown-content span {
    cursor: pointer;
    font-size: 36px;
    padding: 12px 16px;
    display: block;
    border: 1px black solid;
    position: relative;
    font-weight: bold;
}

.dropdown-arrow {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid #000000;
      position: absolute;
      top: 32px;
      right: 14px;
}
  
.show {
    display: block;
}

.green-case {
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
    height: 36px;
    width: 36px;
}

.green-case-front {
    height: 36px;
    width: 36px;
    background: radial-gradient(circle at bottom center, rgba(0,183,0,1) 85%, rgba(0,100,0,1) 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px;
}

.green-case-front::after {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    content: "✓";
    border-radius: 6px;
    width: 32px;
    height: 32px;
    background: linear-gradient(180deg, rgba(153,225,164,1) 0%, rgba(0,183,0,0) 20%, rgba(0,183,0,0) 100%);
    top: 2px;
    left: 2px;
}

.toggleCheckbox {
    display: none;
}

.toggleCheckbox:checked div:nth-child(2n + 1) {
    display: block;
}

@media screen and (min-width: 1024px){
    body {
        justify-content: center;
    }
    
    #title {
        display: flex;
    }

    #title span {
        color: white;
        font-size: 40px;
        align-content: center;
        display: inline-block;
        margin-right: 50%;
    }

    #title img {
        margin-left: 20px;
    }

    section {
        width: 56%;
    }

    #bestMovie img {
        padding: 10px 20px;
        width: 227px;
        height: 334px;
    }

    #bestMovie > div {
        border: 6px solid black;
        display: flex;
        align-items: center;
    }

    .resume h2 {
        font-size: 48px;
    }

    .resume p {
        font-size: 28px;
        padding-bottom: 80px;
    }

    .resume button {
        padding: 10px;
        border-radius: 25px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 166px;
        height: 68px;
        font-size: 24px;
    }

    .container {
        align-items: start;
    }

    .picturesMovie {
        grid-gap: 60px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .picturesMovie > div:nth-child(n + 3) {
        display: grid;
    }

    .categoryChoice {
        display: flex;
        align-items: center;
        column-gap: 20px;
        width: auto;
    }

    .categoryChoice h1 {
        display: block;
    }

    #modal {
        padding: 20px 30px;
        bottom: auto;
    }

    #modal .cross {
        display: none;
    }

    .information {
        align-self: start;
        margin: 10px;
    }

    #modal > img {
        width: 230px;
        grid-row-start: 1;
        grid-column: 2/2;
    }

    #modal h2 {
        font-size: 48px;
        margin: 0;
    }

    .modal-resume {
        grid-row: 2;
        grid-column: 1/3;
    }

    .modal-actors {
        grid-row: 3;
        grid-column: 1/3;
    }

    #modal button {
        display: block;
        border: none;
        border-radius: 25px;
        background-color: red;
        color: white;
        font-size: 20px;
        width: 214px;
        height: 36px;
        grid-column: 1/3;
        justify-self: center;
    }

    .dropbtn {
        min-width: 430px;
        padding-right: 316px;
    }
    
    .dropdown span:hover {
        background-color: #ddd;
    }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    #title {
        display: flex;
    }

    #title span {
        color: white;
        font-size: 40px;
        align-content: center;
        display: inline-block;
        margin-right: 25%;
    }

    #title img {
        margin-left: 20px;
    }

    #bestMovie > div {
        grid-template-columns: 40% 60%;
    }

    #bestMovie img {
        width: 250px;
        padding-left: 20px;
    }

    .container {
        display: grid;
        justify-items: center;
        width: 85%;
    }

    .resume h2 {
        font-size: 40px;
    }

    .resume p {
        font-size: 24px;
    }

    .resume button {
        width: 123px;
        height: 49px;
        font-size: 20px;
        position: absolute;
        right: 20px;
        bottom: 10px;
    }

    h1 {
        justify-self: start;
    }

    .picturesMovie {
        grid-gap: 60px;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .picturesMovie > div:nth-child(2n + 1) {
        display: grid;
    }

    .categoryChoice {
        display: flex;
        align-items: center;
        column-gap: 20px;
        width: auto;
        justify-self: start;
    }

    .categoryChoice h1 {
        display: block;
    }
    
    .dropbtn {
        min-width: 300px;
        padding: 10px;
        padding-right: 180px;
    }

    .dropdown-arrow {
        top: 26px;
    }
}